<!-- {{ content() }} -->
<div class="page-header">
    <h3>Log In</h3>
</div>

<?php

/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php echo $this->getContent() ?>

<?php echo $this->flash->output() ?>
<form action="/user/authorize" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <div class="controls">
            <?php echo $this->tag->textField(['username', 'class' => "form-control"]); ?>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="controls">
            <?php echo $this->tag->passwordField(['password', 'class' => "form-control"]); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <?php echo $this->tag->submitButton(["login", "class" => "btn btn-default"]) ?>
        </div>
    </div>
</form>
<div class="col-sm-offset-2 col-sm-10">
    <a href="/user/new"><?php echo $this->tag->submitButton(["new", "class" => "btn btn-default"]) ?></a>

</div>